<style>
    .row{
        margin: 0;
    }

    #chat{
        min-height: 500px;
        max-height: 500px;
    }
    ul{
        list-style: none;
    }
    #conversation{
        padding: 5px;
        min-height: 350px;
        max-height: 500px;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        overflow-y: scroll;
        word-break: normal;
    }

    .list-group-item{
        border: none;
    }
    .conversation-client-name {
        font-size: .7em;
    }

    .conversation-item{

    }

    .item-list-client{
        position: relative;
    }

    .bubble-message{
        border: #000000;
        border-radius: 10px;
        background-color: rgb(173, 102, 33);
        min-width: 23px;
        display: block;
        max-width: 30px;
        text-align: center;
        position: absolute;
        top: 5px;
        right: 10px;

    }

    .selected{
        background-color: #FAEDB9;
    }

    .me{
        margin: 5px 0;
        background-color: #C5DCEC;
    }
    .myConversion{
        margin: 5px 0 5px 25px;
        background-color: #D6E2F2;
        border-radius: 5px;
        padding: 10px;
    }

    .otherConversation{
        background-color: #72BAF7;
        border-radius: 5px;
        padding: 10px;
    }

    #chatbox{
        margin-bottom: 20px;
    }

    @media (max-width: 766px){
        #chat{
            min-height: 600px;
            max-height: 600px;
        }
        #conversation{
            min-height: 250px;
            max-height: 250px;
        }
    }
</style>

<div class="row" id="chat">

    <!-- FACEBOOK INFORMATION -->

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="row">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        </div>

        <div class="row">
            <ul class="list-group" ng-show="socketIds.length>0">
                <li class="list-group-item item-list-client me">
                    <a><img src="http://graph.facebook.com/{{myProfile.facebook.id}}/picture?type=square" alt="your avatar"/></a>
                    <a class="" href="#{{mySocketId}}">{{myProfile.facebook.name}}</a>
                </li>

                <li ng-repeat="socketId in socketIds" class="list-group-item item-list-client" ng-if="socketId!==mySocketId" ng-class="{selected: socketId===selectedSocketId}" ng-click="changeSelectedSocketid(socketId)">
                    <a class="" href="#{{socketId}}" ng-click="changeSelectedSocketid(socketId)"><img src="http://graph.facebook.com/{{usersInfo[socketId].facebook.id}}/picture?type=square" alt="your avatar"/></a>
                    <a class="" href="#{{socketId}}" ng-click="changeSelectedSocketid(socketId)">{{usersInfo[socketId].facebook.name}}</a>
                    <span class="bubble-message" ng-show="usersInfo[socketId].newMess > 0">{{usersInfo[socketId].newMess}}</span>
                </li>
            </ul>
        </div>
    </div>

    <!--chat box-->
    <div class="col-lg-8 col-md-8 col-sm-8" id="chatbox">
        <div class="row">

            <ul id="conversation" class="list-group" scroll-glue>
                <li ng-repeat="data in mainConversation" class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <a ng-if="!data.me"><img src="http://graph.facebook.com/{{selectedClientProfile.facebook.id}}/picture?type=square" alt="your avatar"/></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" ng-if="!data.me" class="conversation-client-name">{{usersInfo[selectedSocketId].facebook.name}}<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
                            <div ng-class="{myConversion: data.me, otherConversation: !data.me}">{{data.message}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <span class="label label-warning" ng-show="warning !== ''">{{warning}}</span> <br/>
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="userInput" ng-disabled="disabledButtonSend" ng-keydown="onKeyDown($event)" placeholder="type something here" />
            <div class="input-group-btn">
                <button type="button" name="button" value="Send" class="btn btn-default" ng-disabled="disabledButtonSend" ng-click="sendMessage()">Send</button>
                <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabledButtonSend" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div><!-- /input-group -->
    </div>

</div>

