<div class="row">

    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

            <p>
                <img src='http://graph.facebook.com/<%=user.facebook.id%>/picture?type=square' alt=""/>
                <strong>id</strong>: <%= user.facebook.id %><br>
                <strong>token</strong>: <%= user.facebook.token %><br>
                <strong>email</strong>: <%= user.facebook.email %><br>
                <strong>name</strong>: <%= user.facebook.name %>
            </p>
            <input type="hidden" name="userId" id="userId" value='<%= user.facebook.id%>'/>
            <input type="hidden" name="userName" id="userName" value="<%= user.facebook.name %>"/>
            <input type="hidden" name="userEmail" id="userEmail" value="<%= user.facebook.email %>"/>
            <input type="hidden" name="userToken" id="userToken" value="<%= user.facebook.token %>"/>

        </div>
    </div>

</div>